/* CURRENTLY IN: styles/main.css */

/*html, body {
    height: 100%;
}

body {
    min-height: 100%;
}
*/
html, body {
    height: 100%;
}
.container {
    display:flex;
    height: 100%;
}

.column {
    display: flex; 
    
}

.column-one-third {
    width: 33.3333%;
    background-color: pink;
}

.column-two-third {
    width: 66.66663%;
     background-color: black;
}
 
/* 

.col-2 { and so on you divide depending on the column you like col-12 calc(12 * 8.3333%)
   width: calc(2 * 8.3333%);
}